@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    background:url('https://images.unsplash.com/photo-1534325365439-d1a13d999ed1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=753&q=80') no-repeat center top/cover;
    /* height: 100vh; */
    background-attachment: fixed;
}

.main{
    min-height: 77vh;
}

.head{
    background:rgba(0,0,0,0.3);
}

.head__title{
    text-align:center;
    padding:30px;
    font-family: 'Roboto',sans-serif;
    color:rgb(255, 255, 255);
}

.container{
    display:Flex;
    justify-content: space-around;
    margin-top: 6vh;
}
.search-bar{height:40px;text-align: center;/* margin-top: 3%; */}


.search-bar__input{
    padding: 0.25rem;
    height:100%;
    outline:none;
    border-radius: 5px; 
    font-size:20px;
    color:green;
    width: 36vw;
}
.search-bar__submit{
    /* padding:0.25rem; */
    height:80%;
    margin-left:30px;
    width:5rem;
    outline:none;
}

.currency__box{
    width:100px;
    height:30px;
    border-radius: 5px;
    outline:none;
    /* color:brown; */
    background:rgb(110, 110, 228);
    font-size:1.25rem;
}

.currency{
    display:flex;
    justify-content:space-around;
    /* height: 20vh; */
    /* background:#333; */
    align-items: center;
    width:300px;
}

.currency__value{
    background: rgba(255, 255, 255, 0.23);
    border-radius: 30px;
    padding:0 20px;
    color: #000000;
    font-size:2rem;
    font-family: 'Roboto',sans-serif;
}

.footer{/* position: absolute; *//* bottom: 0; */text-align:center;background: #333;height:50px;width:100%;color:#fff;font-family: "Montserrat", sans-serif;display:flex;justify-content: center;align-items: center;}

/* div style */
.plog-container{
    margin-top: 12vh;
    min-height: 68.1vh;
}
.plog-container-new{background: white;margin: 1%;margin: 3.3% auto;: 3%;max-width: 80vw;padding: 1.8rem;border-radius: 1.8rem;}
.news-img{
    width:45vh;
    height: 30vh;
    margin:1%;
}
.plog-container-new-title{

}
.plog-container-new-desciption{/* background: white; */}
@media only screen and (max-width: 692px) {
        .news-img{
            display: none;
        }
        .container {
            display: Flex;
            flex-direction: column-reverse;
            margin: 11vh 0;
        }
        .currency{
            margin: auto;
        }   
        .currency__box{
            width: 17.8vh;
            margin-left: 2.7%;
        }
        .search-bar__input{
            font-size: 14px;

        }
}